.fleft {
    float:left; 
    width: 50%;
    background-color: lightblue;
    border-style: solid;
    border-color: red;
    height: 400px;
    padding: 5px;
}

.fright {
    float: right;
    background-color: lightgreen;
    border-style: solid;
    border-color: red;
    height: 400px;
    width: 50%;
    padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
